@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #0D47A1;
  border-top: 4px solid #64B5F6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 16px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tabs {
  align-self: flex-start;
  display: flex;
  gap: 16px;
  background-color: white;
  padding: 8px 16px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 12.9rem;
}

.tab {
  padding: 8px 16px;
  border-radius: 8px 8px 0 0;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.active-tab-info {
  color: black;
  background-color: #fb923c;
}

.active-tab-track {
  background-color: #fb923c;
  color: black;
}

.inactive-tab {
  color: #6b7280;
}

.link-surat {
  margin-top: 0.9rem;
}

.link-hasil {
  margin-bottom: 0;
  margin-top: 1rem;
}

.upload-btn {
  display: inline-block;
  background: #00982e;
  padding: 8px 15px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  border-radius: 50px;
  color: white;
  transition: transform 0.2s ease, background-color 0.3s ease;
}


.message {
  width: 97%;
  height: 5rem;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 0.5rem;
  resize: vertical;
  margin-bottom: 0.6rem;
  background-color: white;
  color: black;
  font-family: poppins, sans-serif;;
}

.upload-btn:hover {
  background: #00c13a;
}

.file-info {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.message-image {
  max-width: 200px;
  max-height: 200px;
  margin-top: 8px;
  border-radius: 8px;
}

.message-link {
  color: #007bff;
  text-decoration: underline;
  display: inline-block;
  margin-top: 8px;
}

.message-doc {
  margin-top: 8px;
}

.send-btn-chat {
  background: #00982e;
  color: white;
  padding: 0.4rem 2rem;
  border: none;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;

  margin-left: auto;
  align-self: flex-end;
  font-size: 0.8rem;
  font-family: 'Poppins';
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.send-btn-chat:hover {
  background: #00c13a;
}

.textarea-row-tambahan {
  width: 97%;
  height: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #aaa;
  resize: vertical;
  color: black;
  font-family: poppins, sans-serif;
  background-color: white;
}

.wrapper-setuju {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.judul-input-tambahan {
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.btn-selesai-detail{
  color: white;
  background-color: #2BA9E4;
  border-radius: 15px;
  padding: 0.5rem 2rem;
  border: none;
  font-family: 'Poppins';
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease;
  width: fit-content;
  align-self: center;     
}

.btn-selesai-detail:hover{
  background-color: #48B7ED;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 32px;
}

.step-wrapper {
  position: relative;
  padding-left: 36px;
}

.step-row {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  z-index: 10;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  flex-shrink: 0;
  transition: transform 0.2s ease;
  font-size: 16px;
}

.circle-inactive {
  background-color: #d1d5db;
  color: white;
}

.step-label {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
}

.circle-blue {
  background-color: #0185DA !important;
  color: white;
}

.label-blue {
  color: #0185DA !important;
}

.aksiEdit-btn {
  background: #2BA9E4;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  margin-right: 0.2rem;
  font-family: 'Poppins';
  cursor: pointer;
  font-size: 0.8rem;
  color: white;
  transition: background 0.2s;
}
.aksiEdit-btn:hover { background: #48B7ED; }
.aksiDelete-btn {
  background: #e73030;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  margin-right: 0.2rem;
  font-family: 'Poppins';
  cursor: pointer;
  font-size: 0.8rem;
  color: white;
  transition: background 0.2s;
}
.aksiDelete-btn:hover { background: #ff4444; }
.aksiUndo-btn {
  background: #1dd764;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.3rem 1.295rem;
  margin-right: 0.2rem;
  font-family: 'Poppins';
  cursor: pointer;
  font-size: 0.8rem;
  color: white;
  transition: background 0.2s;
}
.aksiUndo-btn:hover { background: #1fef6f; }

.aksiLihat-btn{
  background: #6c757d;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 0.8rem;
  color: white;
  transition: background 0.2s;
}
.aksiLihat-btn:hover{
  background: #969fa7;
}
.btn.tambah {
  background: #009e3c;
  font-family: 'Poppins';
  font-size: 0.9rem;
  color: #fff;
  margin-left: auto;
}
.btn.tambah:hover {
  background: #00cc4e;
}
.btn.danger {
  background: #e53935;
  font-family: 'Poppins';
  font-size: 0.9rem;
  color: white;
}
.btn.danger:hover {
  background: #fc5350;
}

.btn.green {
  background: #1dd764;
  font-family: 'Poppins';
  font-size: 0.9rem;
  color: white;
}
.btn.btn.green:hover {
  background: #1fef6f;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}

.status.baru {
  background-color: #caeaff;
  color: #0185DA;
}

.status.proses {
  background-color: #f5f5c3;
  color: #aaaa3a;
}

.status.disetujui {
  background-color: #c7f5d9;
  color: #2e7d32;
}

.status.selesai {
  background-color: #e6dcf5;
  color:#6a1b9a;
}

.status.tutup {
  background-color: #9c9c9c;
  color:#1e1e1e;
}

.status.ditolak {
  background-color: #ff8181;
  color:#490707;
}
